name: generate animation

on:
  # Run automatically every 24 hours
  schedule:
    - cron: "0 0 * * *"
  
  # Allows manually running the job at any time
  workflow_dispatch:
  
  # Run on every push to the master branch
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    
    steps:
      # Generates a snake game from your GitHub contributions graph, outputting an SVG animation
      - name: Generate GitHub contribution snake SVG
        uses: docker://platane/snk@sha256:bd0f7538482216785abbee29da431738f5ea9aff9fc3a4b8df37708a808f0968
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      # Pushes the generated SVG to the output branch
      # The content will be available at https://raw.githubusercontent.com/<your-github-username>/<repository>/<target_branch>/<file>, or as a GitHub page
      - name: Push GitHub contribution snake SVG to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
